body {
  background: #001034;
  background: url(/resources/bg1.jpg);
  background-size: auto 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding:0;
  max-width: 100vw;
  overflow-x: hidden;
  max-width: 100vw;
}
html {
  width: 100vw;
  padding:0;
}
.section-top {
  height: 118vh;
  width: 100vw;
  color: white;
  padding: 0;
  margin-left:0;
  margin:0;
  background-image: radial-gradient(rgb(136, 136, 136) 1px, transparent 0);
    background-size: 40px 40px;

    background-position: -10px -10px;
    background-attachment: fixed;
}

.row {
  padding: 0;
  margin: 0;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.fname {
  font-size: 350%;
  padding-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.titlename {
  margin-top: -10px;
  font-size: 140%;
  text-align: center;
  letter-spacing:2px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@media only screen and (max-width: 752px) {
  .section-top {
    display: flexbox;
    flex-direction: column-reverse;
  }
  body {
    width: 100vw;
    background: url(/resources/bg-mob.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .fname {
    font-size: 220%;
    padding-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .titlename {
    margin-top: -15px;
    font-size: 120%;
    font-weight:300;
    text-align: center;letter-spacing:2px;
  }
  .section-top {
    height: 123vh;
    width: 100vw;
    color: white;
    padding: 0;
    background: rgba(0, 12, 39, 0.6);
    background-image: radial-gradient(rgb(136, 136, 136) 1px, transparent 0);
    background-size: 40px 40px;
margin:0;
    background-position: -10px -10px;
    background-attachment: fixed;
  }
  .section-2 {
    height: 700px;
    margin-top: 0h;
  }
}
@media only screen and (max-width: 991px) {
  .bg-color {
    background: rgb(255, 0, 76);
    color: rgb(255, 255, 255);
  }
  .dyn-nav {
    color: rgb(255, 255, 255);
  }
}
.logo {
  height: 50vh;
  width: auto;
  vertical-align: middle;
}
.section-2 {
  height: 700px;
  margin-top: -25vh;
  margin-bottom:0;
}
.bg-tt {
  background: rgb(255, 0, 76);
  transition: background-color 0.5s ease;
  color: white;
}
.bg-ttt{
    background: rgba(0, 12, 44,0.7);
  transition: background-color 0.5s ease;
  color: white;
}
.social-logo-top{
    color:white;
    text-align:center;
    font-size:140%;margin-top:40px;
}
.section-top .bi{
    margin:5px;
}