body {
  background-color: black;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* sections */
.section-main {
  background: url(resources/coverbody2.jpg) !important;
  background-size: auto 100% !important;
  background-attachment: inherit !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}
.section-main-2{
  background: url(resources/coverbody2.jpg) !important;
  background-size: cover !important;
  background-attachment: inherit !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  min-height:100vh;
}
html {
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;
}
.section-top {
  min-height: 106vh;
  min-width: 100vw;
  color: white;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(rgb(83, 83, 83) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0px 0px;
  background-attachment: scroll;
  margin-left: 0;
  margin: 0;
  /* background-image: radial-gradient(rgb(136, 136, 136) 1px, transparent 0);
  background-size: 40px 40px;

  background-position: 0px 0px;
  background-attachment: fixed; */
}
.section-skills {
  color: white;
  height: auto;
  margin-top: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(rgb(83, 83, 83) 1px, transparent 0);
  background-size: 40px 40px;

  background-position: 0px 0px;
  background-attachment: scroll;
  padding: 40px 10%;
}
.section-projects{
  padding:5% 10%;
  background: url(resources/project-bg1.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: inherit;
}
.footer-socialicons {
  color: white;
  font-size: 100%;
}
.section-responsive {
  background: rgb(27, 27, 27);
  background-image: radial-gradient(rgb(26, 26, 26) 1px, transparent 0);
  background-size: 40px 40px;
  margin: 0;
  background-position: 0px 0px;
  background-attachment: fixed;
  color: white;
  padding-top: 50px;
}
.section-contact {
  background: rgb(240, 240, 240);
  background-image: radial-gradient(rgb(173, 173, 173) 1px, transparent 0);
  background-size: 40px 40px;
  margin: 0;
  height:auto;
  background-position: 0px 0px;
  background-attachment: fixed;
  color: white;
}
.contactinfo{
  width:80%;padding-top:19%;
  padding-bottom:10%;
  font-size:110%;
  color:#494949;
  font-weight:500;
  letter-spacing: 1.1px;
  font-family: "Raleway", sans-serif;
  display:block;
  margin-left:auto;
  margin-right:auto;
  line-height:38px;
}
.contactinfo a{
  color:#494949 !important;
}
/* .form-container{
 
  border-radius:30px;
  padding:10% !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 
} */
.form-container {
  padding:0 !important;
  margin: 0;
  overflow: hidden;
  background: url(resources/contactbg3.jpg) !important;

  background-size: 100% auto !important;
}
.container-form{
  padding:10% !important;
  width:100%;
  height:180%;
  overflow:hidden;
  background:rgba(34, 34, 34,0.6)
}
.section-2 {
  height: auto;
  margin-top: 0vh;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(rgb(83, 83, 83) 1px, transparent 0);
  background-size: 40px 40px;
  margin: 0;
  background-position: 0px 0px;
  background-attachment: scroll;
}

footer {
  font-family: "Segoe UI", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 0;
  width: 100vw;
  background: rgb(31, 31, 31) !important;
}
/* sections end */

.row {
  padding: 0;
  margin: 0;
}

.fname {
  font-size: 310%;
  margin-top: 25%;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: rgb(255, 255, 255);
}
.titlename {
  margin-top: -20px;
  font-size: 140%;
  text-align: left;
  padding-left: 22px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}
.photoborder {
  border-radius: 74% 26% 50% 50% / 50% 59% 41% 50%;
  height: 370px;
  width: 400px;
  background: rgb(39, 39, 39);
  display: block;
  margin: 140px auto;
  overflow: hidden;
}
.pic1 {
  height: 100vh;
  padding: 10px 30px;
  margin-top: 0;
  transition: 0.2s ease;
  z-index: 1;
}

.service-des p {
  display: block !important;
  margin: auto !important;
  max-width: 70%;
}
.service-des {
  padding: 10px 30px;
  padding-right: 50px;
  overflow: hidden;
  padding-bottom: 50px;
  display: block !important;
  margin: auto !important;
}
.top1 {
  height: 68vh;
  background: url(resources/b7.png);
  background-position: bottom center;
  background-attachment: inherit;
  background-size: auto 145vh;
  background-repeat: no-repeat;

  transition: 0.2s ease;
}
.coltop1 {
  height: 40vh;
  text-align: left;
  padding-left: 20px;
  z-index: 2;
}
.mypic2 {
  height: 400px;
  width: auto;

  display: block;
  margin: 140px auto;

  transition: 0.2s ease;
}
.mypic {
  height: 400px;
  width: auto;

  display: block;
  margin: 140px auto;

  transition: 0.2s ease;
}
.mypic:hover {
  transform: scale(1.0006);
}

.scrollbtn1 {
  background: transparent;
  border: 0.5px solid grey;
  border-radius: 30px;
  width: 110px;
  padding-left: 20px;
  padding-bottom: 3px;
  transition: 0.3s ease;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}
.scrollbtn1:hover {
  width: 130px;
}

.logo {
  height: 50vh;
  width: auto;
  vertical-align: middle;
}

.bg-tt {
  background: rgb(0, 0, 0);
  transition: background-color 0.5s ease;
  color: white;
}
.bg-ttt {
  background: rgba(0, 12, 44, 0.7);
  transition: background-color 0.5s ease;
  color: white;
}
.social-logo-top {
  color: white;
  text-align: left;
  font-size: 140%;
  margin-top: 10px;
  margin-left: 20px;
}
.section-top .bi {
  margin: 5px;
  color: rgb(37, 37, 37);
}

.btnnav:focus,
.btnnav:active {
  outline: none !important;
  box-shadow: none !important;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: Black 900;

  font-family: "Roboto", sans-serif;
}
h4 {
  color: rgb(27, 97, 0);
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  word-spacing: 4px;
  text-align: left;
  padding-top: 16%;
  letter-spacing: 1px;
}

h3 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h3:after {
  display: block;
  height: 2px;
  background: rgb(0, 175, 117);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}
.section-skills .card {
  border: 0 !important;
  background: transparent !important;
  margin-bottom: 30px !important;
  transition:0.4s ease;
}
.section-skills .card-img-top {
  width: 40%;
  height: auto;
  display: block !important;
  margin: auto !important;
  
}
.section-skills .card:hover{
  transform: scale(1.1);
}
.section-skills .card-body {
  display: block !important;
  margin: auto !important;
}

.responsivelogo {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 30px;
}




.inp{
  border:none !important;
  outline: 0;
  height:50px;
  width:90% !important;
  border-radius: 0 !important;
 background: transparent !important;
 
  color:white;
  float:right;
}
.inpt{
  border:none !important;
  outline: 0;
  height:90px;
  margin-top:0;
  width:90% !important;
  border-radius: 0 !important;
 background: transparent !important;
  color:white;
  overflow:hidden !important;
  float:right;
  margin-left:-20px;
}

.input-field{
  width:95%;
  border-bottom:0.2px solid white !important;
  text-align: left;padding-left:10px;
  border-radius: 0px;
  overflow: hidden;
  
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.contacticon{
  float:left !important;
  font-size:130%;
  display: block;
  margin: auto;
  margin-top:7px !important;
}
input, select, textarea{
  color: #ff0000;
}

textarea:focus, input:focus {
  color: #ff0000;
}


.button4 {
  border: none;
  border-radius: 10rem;
  height: 40px;
  width: 7rem;
  display: block;
  color: rgb(255, 255, 255);
  background: #31b88b;
  transition: all 0.5s ease-out;
  margin-top:50px;

}
.button4:hover{
  width:7.6rem;
  background: #5a5a5a;
}
.button8 {
  border: none;
  border-radius: 12px !important;
  display: block;
  color: rgb(255, 255, 255);
  background: #31b88b;
  transition: all 0.5s ease-out;
  margin-top:20px;
  margin-bottom:20px;padding:5px 20px;

}
.button8:hover{
  
  background: #5a5a5a;
}
.button7 {
  border: none;
  border-radius: 13px !important;
  height: 30px;
  display: block;
  color: rgb(255, 255, 255);
  background: #31b88b;
  transition: all 0.5s ease-out;
  margin-top:10px;
  margin-bottom:20px;

}
.button7:hover{
  
  background: #5a5a5a;
}
.section-projects a{
  text-decoration: none;
}
.section-projects .card{
  display: block !important;
  margin-left:auto !important;
  margin-right:auto !important;
  padding:0px;
  color:white;
  border:0 !important;
  background:rgb(51, 51, 51) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
  border-radius: 10px;
  transition:0.5s ease;
}
.section-projects .card:hover{
  transform: scale(1.02);
}
.section-projects .card-img-top{
  width:100%;
  height:auto;
  margin:0;
}


.section-projects h5{
  color:#71ffcd;font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.section-projects .card-text{
  font-weight:300;
  font-size:85%;
letter-spacing:1px;
margin-top:20px;
  font-family: "Raleway", sans-serif;
}

/* Preloader */

#preloader {
  background: #000 url(resources/img/loader.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
/* preloader ends */






/* media queries */

@media only screen and (max-width: 752px) {
  .fname {
    font-size: 220%;
    margin-top: 25%;
    padding-left:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  .titlename {
    margin-top: -15px;
    font-size: 120%;
    font-weight: 300;
    text-align: left;
    letter-spacing: 2px;
    padding-left:12px;
  }
  .section-top {
    min-height: 100vh;
  }
  .top-col {
    padding: 10px 30px;
    margin: 0;
    vertical-align: middle;
    margin: 0;
    height: 100vh;
  }
  .section-2 {
    height: auto;
    margin-top: 0;
    background: transparent;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    background-image: radial-gradient(rgb(83, 83, 83) 1px, transparent 0);
    background-size: 40px 40px;

    background-position: 0px 0px;
    background-attachment: scroll;
  }
  .service-des {
    height: 290px !important;
    padding: 30px 60px;
    overflow: hidden;
    padding-bottom: 50px;
    display: block !important;
    margin: auto !important;
    padding-right: 10px;
    padding-left: 20px;
  }
  .service-des p {
    display: block !important;
    margin: auto !important;
    margin-left: 15px !important;
    margin-top: 15px;
    max-width: 85%;
    text-align: center !important;
  }
}

@media only screen and (max-width: 991px) {
  .bg-color {
    background: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
  }
  .an {
    color: white;
  }
  .nav-item a {
    color: rgb(41, 41, 41) !important;
  }
  .nav-link {
    color: white;
  }

  .dyn-nav {
    color: rgb(255, 255, 255);
    text-align: left;
  }
  .pic1 {
    height: 60vh;
    margin-top: 1000px;
  }
  .coltop1 {
    height: 30vh;
  }
  .nav-item a {
    color: rgb(253, 253, 253) !important;
  }
  .scrollbtn1{
    margin-left: 12px !important;
  }
  .social-logo-top {
    margin-left:8px;
  }
}

@media only screen and (max-width: 500px) {
  .top1 {
    background-size: auto 76vh;
    height: 61vh;
  }
  .fname {
    font-size: 220%;
    margin-top: 35%;
    margin-left: auto;
    padding-left:10px;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .titlename {
    margin-top: -10px;
    font-size: 120%;
    font-weight: 300;
    padding-left:12px;
    text-align: center;
    letter-spacing: 2px;
  }
  .scroll {
    margin-top: 10px;
  }
  .photoborder {
    width: 95%;
    height: 93%;
  }
  .mypic {
    height: 300px;
    width: auto;
    margin-top: 90px;
    transition: 0.2s ease;
  }
  .mypic2 {
    height: 300px;
    width: auto;
    margin-top: 90px;
    transition: 0.2s ease;
  }
  .mypic:hover {
    transform: scale(1.0004);
  }
  .coltop1 {
    height: 40vh;
    padding-left: 0px;
  }
  .section-skills .card-img-top {
    width: 25%;
    height: auto;
    display: block !important;
    margin: auto !important;
    
  }
 
  .contactin{
    padding:0 !important;
  }
  .social-logo-top {
    margin-left:8px;
  }
  .scrollbtn1{
    margin-left: 10px;
  }
}


.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}