body {
  background-color:white !important;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;
 
}
.section-top {
  height: 106vh;
  width: 100vw;
  color: white;
  padding: 0;
  
  margin-left: 0;
  margin: 0;
  background-image: radial-gradient(rgb(136, 136, 136) 1px, transparent 0);
  background-size: 40px 40px;

  background-position: 0px 0px;
  background-attachment: fixed;
}

.row {
  padding: 0;
  margin: 0;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.fname {
  font-size: 310%;
  padding-top: 250px;
  padding-left:20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color:rgb(114, 114, 114);
}
.titlename {
  margin-top: -20px;
  font-size: 140%;
  text-align: left;
  padding-left:22px;
  font-weight:300;
  color:rgb(80, 80, 80);
  letter-spacing: 2px;
}
.photoborder{
  border-radius:74% 26% 50% 50% / 50% 59% 41% 50%  ;
  height:370px;
  width:400px;
  background: rgb(39, 39, 39);
  display: block;margin:140px auto;
  overflow:hidden;
}
.pic1{
  height:100vh;padding:10px 30px;margin-top:30px;transition:0.2s ease;z-index: 1;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@media only screen and (max-width: 752px) {
  
  .fname {
    font-size: 220%;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color:rgb(80, 80, 80);
  }
  .titlename {
    margin-top: -15px;
    font-size: 120%;
    font-weight: 300;
    text-align: left;
    letter-spacing: 2px;
  }
  .section-top {
  height:100vh;
 
  }
  .top-col{
    padding:10px 30px;margin:0;vertical-align: middle;margin:0;height:100vh;
    
  }
  .section-2 {
    height: 700px;
    margin-top: 0;
    background: transparent;
    background-image: radial-gradient(rgb(136, 136, 136) 1px, transparent 0);
    background-size: 40px 40px;
    margin: 0;
    background-position: 0px 0px;
    background-attachment: fixed;

  }
}
.top1{
  height:68vh; 
  background: url(/resources/b7.png);
     background-position: bottom center;
  background-attachment: inherit ;
  background-size: auto 145vh;
  background-repeat: no-repeat;
  
  transition: 0.2s ease;
}
.coltop1{
  height:30vh;text-align: left;padding-left:20px;
  z-index: 2;
}
.mypic{
  height:400px;
  width:auto;
  border-radius:50%;
  display:block;
  margin:140px auto;

  transition:0.2s ease;
}
.nav-item a{
  color:rgb(41, 41, 41) !important;
}
@media only screen and (max-width: 991px) {
  .bg-color {
    background: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
  }
  .an{
    color:white;
  }
 .nav-link{
   color:white;
 }
  
  .dyn-nav {
    color: rgb(255, 255, 255);
    text-align:left;
  }
  .pic1{
    height:60vh;margin-top:30px;
    
  }
  .coltop1{
    height:16vh;
  }
  .nav-item a{
    color:rgb(253, 253, 253) !important;
  }
}
@media only screen and (max-width:500px) {
  .top1{
    background-size: auto 76vh;
    height:61vh;
    
  }
  .fname {
    font-size: 220%;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .titlename {
    margin-top: -10px;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
  }
 .scroll{
   margin-top:10px;
   margin-left:22px;
 }
 .photoborder{
 
  width:95%;
  height:93%;
}
.mypic{
  height:300px;
  width:auto;
  margin-top:130px;
  transition:0.2s ease;
  
}
.coltop1{
  height:30vh;
}
}

.logo {
  height: 50vh;
  width: auto;
  vertical-align: middle;
}
.section-2 {
  height: 700px;
  margin-top: 0vh;
  margin-bottom: 0;
  
  background-image: radial-gradient(rgb(136, 136, 136) 1px, transparent 0);
  background-size: 40px 40px;
  margin: 0;
  background-position: 0px 0px;
  background-attachment: fixed;
}
.bg-tt {
  background: rgb(29, 29, 29);
  transition: background-color 0.5s ease;
  color: white;
}
.bg-ttt {
  background: rgba(0, 12, 44, 0.7);
  transition: background-color 0.5s ease;
  color: white;
}
.social-logo-top {
  color: white;
  text-align: center;
  font-size: 140%;
  margin-top: 20px;
}
.section-top .bi {
  margin: 5px;
  color:rgb(37, 37, 37);
}

.btnnav:focus,
.btnnav:active {
  outline: none !important;
  box-shadow: none !important;
  box-shadow: none;
}
