body {
  background-color: black;
  
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.section-main{
  background: url(/resources/coverbody2.jpg) !important;
  background-size: auto 100% !important;
  background-attachment: inherit !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}
html {
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;
}
.section-top {
  min-height: 106vh;
  min-width: 100vw;
  color: white;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(rgb(83, 83, 83) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0px 0px;
  background-attachment: fixed;
  margin-left: 0;
  margin: 0;
  /* background-image: radial-gradient(rgb(136, 136, 136) 1px, transparent 0);
  background-size: 40px 40px;

  background-position: 0px 0px;
  background-attachment: fixed; */
}
.section-skills {
  color: white;
  height: auto;
  margin-top: 0;
  background: transparent;
  background: rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(rgb(31, 31, 31) 1px, transparent 0);
  background-size: 40px 40px;
  margin: 0;
  background-position: 0px 0px;
  background-attachment: fixed;
  padding: 40px 10%;
}
.row {
  padding: 0;
  margin: 0;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.fname {
  font-size: 310%;
  margin-top: 25%;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: rgb(255, 255, 255);
}
.titlename {
  margin-top: -20px;
  font-size: 140%;
  text-align: left;
  padding-left: 22px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}
.photoborder {
  border-radius: 74% 26% 50% 50% / 50% 59% 41% 50%;
  height: 370px;
  width: 400px;
  background: rgb(39, 39, 39);
  display: block;
  margin: 140px auto;
  overflow: hidden;
}
.pic1 {
  height: 100vh;
  padding: 10px 30px;
  margin-top: 0;
  transition: 0.2s ease;
  z-index: 1;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@media only screen and (max-width: 752px) {
  .fname {
    font-size: 220%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  .titlename {
    margin-top: -15px;
    font-size: 120%;
    font-weight: 300;
    text-align: left;
    letter-spacing: 2px;
  }
  .section-top {
    min-height: 100vh;
  }
  .top-col {
    padding: 10px 30px;
    margin: 0;
    vertical-align: middle;
    margin: 0;
    height: 100vh;
  }
  .section-2 {
    height: auto;
    margin-top: 0;
    background: transparent;
    background: rgba(0, 0, 0, 0.3);
    background-image: radial-gradient(rgb(31, 31, 31) 1px, transparent 0);
    background-size: 40px 40px;
    margin: 0;
    background-position: 0px 0px;
    background-attachment: fixed;
  }
  .service-des{
    min-height:270px !important;
    padding:30px 60px;overflow:hidden;padding-bottom:50px;display: block !important;margin:auto !important;
    padding-right:10px;
    padding-left:20px;
  }
  .service-des p{
    display: block !important;
    margin:auto !important;
    margin-left:15px !important;
    margin-top:15px;
    max-width:85%;
  }
}
.service-des p{
  display: block !important;
  margin:auto !important;
  max-width:70%;
}
.service-des{
  padding:10px 30px;padding-right:50px;overflow:hidden;padding-bottom:50px;display: block !important;margin:auto !important;
}
.top1 {
  height: 68vh;
  background: url(/resources/b7.png);
  background-position: bottom center;
  background-attachment: inherit;
  background-size: auto 145vh;
  background-repeat: no-repeat;

  transition: 0.2s ease;
}
.coltop1 {
  height: 40vh;
  text-align: left;
  padding-left: 20px;
  z-index: 2;
}
.mypic {
  height: 400px;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 140px auto;

  transition: 0.2s ease;
}
.mypic:hover {
  transform: scale(1.0006);
}

.scrollbtn1 {
  background: transparent;
  border: 0.5px solid grey;
  border-radius: 30px;
  width: 110px;
  padding-left: 20px;
  padding-bottom: 3px;
  transition: 0.3s ease;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}
.scrollbtn1:hover {
  width: 130px;
}
@media only screen and (max-width: 991px) {
  .bg-color {
    background: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
  }
  .an {
    color: white;
  }
  .nav-item a {
    color: rgb(41, 41, 41) !important;
  }
  .nav-link {
    color: white;
  }

  .dyn-nav {
    color: rgb(255, 255, 255);
    text-align: left;
  }
  .pic1 {
    height: 60vh;
    margin-top: 1000px;
  }
  .coltop1 {
    height: 30vh;
  }
  .nav-item a {
    color: rgb(253, 253, 253) !important;
  }
}
@media only screen and (max-width: 500px) {
  .top1 {
    background-size: auto 76vh;
    height: 61vh;
  }
  .fname {
    font-size: 220%;
    margin-top: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .titlename {
    margin-top: -10px;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
  }
  .scroll {
    margin-top: 10px;
  }
  .photoborder {
    width: 95%;
    height: 93%;
  }
  .mypic {
    height: 300px;
    width: auto;
    margin-top: 90px;
    transition: 0.2s ease;
  }
  .mypic:hover {
    transform: scale(1.0004);
  }
  .coltop1 {
    height: 40vh;
  }
  .section-skills .card-img-top{
    width:25%;
    height:auto;
    display:block !important;
    margin:auto !important; 
  }
}

.logo {
  height: 50vh;
  width: auto;
  vertical-align: middle;
}
.section-2 {
  height: auto;
  margin-top: 0vh;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(rgb(32, 32, 32) 1px, transparent 0);
  background-size: 40px 40px;
  margin: 0;
  background-position: 0px 0px;
  background-attachment: scroll;
}
.bg-tt {
  background: rgb(0, 0, 0);
  transition: background-color 0.5s ease;
  color: white;
}
.bg-ttt {
  background: rgba(0, 12, 44, 0.7);
  transition: background-color 0.5s ease;
  color: white;
}
.social-logo-top {
  color: white;
  text-align: left;
  font-size: 140%;
  margin-top: 10px;
  margin-left: 20px;
}
.section-top .bi {
  margin: 5px;
  color: rgb(37, 37, 37);
}

.btnnav:focus,
.btnnav:active {
  outline: none !important;
  box-shadow: none !important;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: Black 900;

  font-family: "Roboto", sans-serif;
}
h4 {
  color: rgb(27, 97, 0);
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  word-spacing: 4px;
  text-align: left;
  padding-top: 16%;
  letter-spacing: 1px;
}

h3 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
  
}
h3:after {
  display: block;
  height: 2px;
  background: rgb(0, 175, 117);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}
.section-skills .card{
  border:0 !important;
  background: transparent !important;
  margin-bottom:30px !important;
  
}
.section-skills .card-img-top{
  width:40%;
  height:auto;
  display:block !important;
  margin:auto !important; 
}
.section-skills .card-body{
  display:block !important;
  margin:auto !important; 
}

footer {
  font-family: "Segoe UI", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 0;
  width: 100vw;
  background: rgb(31, 31, 31) !important;
}
.section-responsive{
  background: rgb(27, 27, 27);;
  background-image: radial-gradient(rgb(83, 83, 83) 1px, transparent 0);
  background-size: 40px 40px;
  margin: 0;
  background-position: 0px 0px;
  background-attachment: fixed;
  color:white;
  padding-top:50px;
  padding:bottom:50px;
}
.responsivelogo{
  width:80%;
  height:auto;
  display: block;
  margin:auto;
  margin-top:30px;
}
